# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment variable files
.env
key.py

# Ignore build directories
dist/
build/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore images
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.svg
*.webp
*.MOV

# Ignore documents
*.pdf
*.doc
*.docx
*.xls
*.xlsx
*.ppt
*.pptx
*.txt